<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Listado de art&iacute;culos:</h2>
    <%
    if (Array.isArray(rows)) {
        for (i = 0; i < rows.length; i++) {
          const rowJson = rows[i]; //JSON.stringify(rows[i]);
    %>
          <div>
              <p><b>Nombre: </b> <%= rowJson.nombre %></p>
              <p><b>Precio:< /b> <%= rowJson.precio %></p>
                <img src="<%= rowJson.foto %>" width="20%" />
            </div>
          
    <%
        }
      %>
    <% } %>
  </body>
</html>
